<p-dialog
  [(visible)]="productDialog"
  [style]="{ width: '800px' }"
  header="{{ editMode ? 'Modifier du produit' : 'Créer un nouveau produit' }}"
  [modal]="true"
  styleClass="p-fluid"
  [maximizable]="true"
  [closable]="false"
>
  <ng-template pTemplate="content" class="w-full">
    <form
      *ngIf="_formGroup && categories && product"
      [formGroup]="_formGroup"
      class="flex flex-column gap-6 mt-5"
    >
      <span class="p-float-label">
        <input pInputText id="name" formControlName="name"/>
        <label htmlFor="name" required>Nom *</label>
      </span>
      <span class="p-float-label">
        <p-dropdown
          *ngIf="listCategoriesName.length"
          [options]="listCategoriesName"
          placeholder="Choisir une catégorie"
          inputId="float-label"
          formControlName="category"
        ></p-dropdown>
        <label for="float-label">Catégorie *</label>
      </span>
      <span class="p-float-label">
        <p-inputNumber
          id="quantity"
          [minFractionDigits]="1"
          formControlName="quantity"
        />
        <label htmlFor="quantity">Quantité *</label>
      </span>
      <span class="p-float-label">
        <p-inputSwitch formControlName="status" class="ml-8"></p-inputSwitch>
        <label htmlFor="status">Reste</label>
      </span>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>
