<p-dialog
  [(visible)]="productDialog"
  [style]="{ width: '800px' }"
  header="{{ editMode ? 'Modifier du produit' : 'Créer un nouveau produit' }}"
  [modal]="true"
  styleClass="p-fluid"
  [maximizable]="true"
  [closable]="false"
>
  <ng-template pTemplate="content" class="w-full">
    <form
      *ngIf="_formGroup && categories && product"
      [formGroup]="_formGroup"
      class="flex flex-column gap-6 mt-5 mb-7"
    >
      <!-- NAME -->
      <!-- <span class="p-float-label">
        <p-dropdown
          *ngIf="productsBrut.length > 0"
          [options]="productsBrut"
          optionLabel=""
          [filter]="true"
          filterBy="alim_nom_fr"
          [showClear]="true"
          placeholder="Choisir un produit"
          formControlName="name"
          (onChange)="getName($event)"
        >
          <ng-template pTemplate="selectedItem">
            <div
              class="flex align-items-center gap-2 truncate max-w-17rem md:max-w-26rem"
              *ngIf="selectedProduct"
            >
              <div>{{ selectedProduct.alim_nom_fr }}</div>
            </div>
          </ng-template>
          <ng-template let-productBrut pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div class="truncate max-w-17rem md:max-w-26rem">
                {{ productBrut.alim_nom_fr }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
        <label htmlFor="alim_nom_fr" required>Nom *</label>
      </span> -->

      <span class="p-float-label">
        <p-autoComplete
          [suggestions]="searchProductsBrutList"
          (completeMethod)="searchName($event)"
          formControlName="name"
          field="alim_nom_fr"
        />
        <label htmlFor="alim_nom_fr" required>Nom *</label>
      </span>

      <!-- CATEGORY -->
      <span class="p-float-label">
        <p-dropdown
          *ngIf="listCategoriesName.length"
          [options]="listCategoriesName"
          placeholder="Choisir une catégorie"
          inputId="float-label"
          formControlName="category"
          (onChange)="getCatName($event)"
        >
          <ng-template pTemplate="selectedItem">
            <div
              class="flex align-items-center gap-2"
              *ngIf="selectedCategoryName"
            >
              <div class="flex align-items-center">
                <span
                  class="block w-1rem h-1rem mr-2 border-round {{
                    selectedCategoryName | categoryBadge
                  }}"
                ></span>
                <div>{{ selectedCategoryName }}</div>
              </div>
            </div>
          </ng-template>
          <ng-template let-cat pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div class="flex align-items-center">
                <span
                  class="block w-1rem h-1rem mr-2 border-round {{
                    cat | categoryBadge
                  }}"
                ></span>
                {{ cat }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>

        <label for="float-label">Catégorie</label>
      </span>

      <!-- QUANTITY + UNIT -->
      <div class="w-full flex justify-content-between">
        <span class="p-float-label w-5">
          <p-inputNumber
            id="quantity"
            [minFractionDigits]="1"
            formControlName="quantity"
          />
          <label htmlFor="quantity">Quantité *</label>
        </span>
        <span class="p-float-label w-5">
          <!-- <input pInputText id="unit" formControlName="unit" /> -->
          <p-dropdown
            [options]="['kg', 'l', 'pièce']"
            placeholder=""
            inputId="float-label"
            formControlName="unit"
          ></p-dropdown>
          <label htmlFor="quantity">Unité *</label>
        </span>
      </div>

      <!-- STATUS -->
      <span class="p-float-label">
        <p-inputSwitch formControlName="status" class="ml-8"></p-inputSwitch>
        <label htmlFor="status">Reste</label>
      </span>
    </form>
  </ng-template>

  <!-- ACTIONS BTNS -->
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      [label]="isMediumScreenUp ? 'Annuler' : ''"
      icon="pi pi-times"
      class="p-button-outlined p-button-danger"
      style="min-width: 3rem"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      [label]="isMediumScreenUp ? 'Sauvegarder' : ''"
      icon="pi pi-check"
      class="p-button-outlined p-button-primary mr-6"
      style="min-width: 3rem"
      (click)="saveProduct()"
    ></button>
  </ng-template>
</p-dialog>
