<p-menubar [model]="items" class="w-full">
  <ng-template pTemplate="start">
    <div class="w-full">
      <img
        src="assets/images/bulbasaur.png"
        class="w-full h-auto cursor-pointer"
        alt="logo images"
        (click)="goToHome()"
      />
    </div>
  </ng-template>
  <div class="flex align-items-center">
    <label htmlFor="status">Mode sombre</label>
    <p-inputSwitch
      [ngModel]="isDarkMode"
      (click)="switchDarkMode(isDarkMode)"
      class="ml-2"
    />
  </div>
</p-menubar>
