<div class="card" *ngIf="recipes">
  <p-pickList
    [source]="recipes"
    [target]="selectedRecipes"
    sourceHeader="Disponible"
    targetHeader="Sélectionné"
    [dragdrop]="true"
    [responsive]="true"
    [sourceStyle]="{ height: '30rem' }"
    [targetStyle]="{ height: '30rem' }"
    filterBy="name"
    sourceFilterPlaceholder="Search by name"
    targetFilterPlaceholder="Search by name"
    breakpoint="1400px"
  >
    <ng-template let-recipe pTemplate="item">
      <div class="flex flex-wrap p-2 align-items-center gap-3">
        <img
          class="w-4rem shadow-2 flex-shrink-0 border-round"
          src="https://picsum.photos/200"
          alt="recipes image"
        />
        <div class="flex-1 flex flex-column gap-2">
          <span class="font-bold">{{ recipe.name }}</span>
          <div class="flex align-products-center gap-2">
            <i class="pi pi-tag text-sm"></i>
            <!-- <span>{{ recipe.category }}</span> -->
          </div>
        </div>
        <!-- <span class="font-bold text-900">{{ "$" + product.price }}</span> -->
      </div>
    </ng-template>
  </p-pickList>
</div>
