<div class="card">
  <p-toast />

  <p-toolbar
    styleClass="mb-4 gap-2 bg-white border-bottom-1 border-x-none border-top-none border-noround flex justify-content-end md:justify-content-between "
  >
    <ng-template pTemplate="left">
      <h2 class="font-medium">
        {{ firstDay | date : "dd MMMM yyyy" }} -
        {{ lastDay | date : "dd MMMM yyyy" }}
      </h2>
    </ng-template>
    <ng-template pTemplate="right">
      <div
        appWindowResize
        (windowResize)="onWindowResize($event)"
        class="flex justify-content-center w-full"
      >
        <button
          pButton
          pRipple
          type="button"
          [label]="isMediumScreenUp ? 'Ajouter' : ''"
          class="p-button-outlined p-button-primary mr-6"
          icon="pi pi-plus"
          (click)="createProduct()"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          [label]="isMediumScreenUp ? 'Supprimer' : ''"
          class="p-button-outlined p-button-danger"
          icon="pi pi-trash"
          (click)="confirmDelete()"
          [disabled]="!selectedProducts || !selectedProducts.length"
        ></button>
      </div>
    </ng-template>
  </p-toolbar>
  <p-table
    *ngIf="products"
    #dt
    [value]="products"
    [rows]="6"
    [paginator]="true"
    [globalFilterFields]="['name', 'category.name', 'quantity', 'createdDate']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="_id"
    currentPageReportTemplate="Affichage de {first} à {last} produits (sur {totalRecords} produits)"
    [showCurrentPageReport]="true"
    class="flex flex-column w-full mt-5"
  >
    <ng-template pTemplate="caption">
      <div class="flex flex-column gap-4 sm:flex-row md:align-items-center md:justify-content-between sm:gap-0">
        <h4 class="font-medium m-0">Liste des produits en stock</h4>
        <span class="p-input-icon-left h-5">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            #searchInput
            (input)="dt.filterGlobal(searchInput.value, 'contains')"
            placeholder="Recherche..."
            class="h-2rem pl-6 border-none"
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5%">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name" style="width: 17%">
          Name<p-sortIcon field="name" class="inline-block"></p-sortIcon>
        </th>
        <th pSortableColumn="quantity" style="width: 17%">
          Quantité
          <p-sortIcon field="quantity" class="inline-block"></p-sortIcon>
        </th>
        <th pSortableColumn="createdDate" style="width: 17%">
          Date
          <p-sortIcon field="createdDate" class="inline-block"></p-sortIcon>
        </th>
        <th pSortableColumn="status" style="width: 17%">
          Status <p-sortIcon field="status" class="inline-block"></p-sortIcon>
        </th>
        <th pSortableColumn="category?.name" style="width: 17%">
          Catégorie
          <p-sortIcon field="category?.name" class="inline-block"></p-sortIcon>
        </th>
        <th style="width: 10%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox
            [value]="product"
            (click)="selectedProduct(product)"
          ></p-tableCheckbox>
        </td>
        <td>{{ product.productBrut.alim_nom_fr }}</td>
        <td>
          {{ product.quantity }}
          <span>{{
            product.quantity > 1 && product?.unit === "pièce"
              ? 'pièces'
              : product?.unit
          }}</span>
        </td>
        <td>{{ product.createdDate | date : "dd/MM/yyyy" }}</td>
        <td>
          <div
            *ngIf="product.status"
            class="flex justify-content-center border-round bg-primary max-w-5rem"
          >
            <div class="py-2 px-1 text-white text-xs">
              {{ product.status && "Reste" }}
            </div>
          </div>
        </td>
        <td>
          <div
            *ngIf="product.category"
            class="flex justify-content-center border-round 
            {{ product.category.name | categoryBadge }}"
          >
            <div class="p-2 text-white text-xs">
              {{ product.category.name }}
            </div>
          </div>
        </td>
        <td>
          <button
            type="button"
            pButton
            pRipple
            class="w-2rem h-2rem bg-gray-500 border-gray-500 hover:bg-gray-700 transition-delay-100 transition-colors"
            icon="pi pi-pencil gray-100"
            (click)="editProduct(product)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-product-modal
  *ngIf="product"
  [product]="product"
  [productDialog]="productDialog"
  [editMode]="editMode"
  [categories]="categories"
  [productSaved]="productSaved"
  (productDialogEvent)="isProductDialogOpen($event)"
  (productSavedEvent)="isProductSaved($event)"
/>

<div
  class="card w-full flex justify-content-center align-items-center translate-y-100"
>
  <p-progressSpinner *ngIf="!products" />
</div>

<p-confirmDialog
  [style]="{ width: '450px' }"
  [acceptLabel]="isMediumScreenUp ? 'Confirmer' : 'Oui'"
  acceptButtonStyleClass="border-primary text-primary surface-card"
  [rejectLabel]="isMediumScreenUp ? 'Annuler' : 'Non'"
  rejectButtonStyleClass="border-red-600 text-red-600 surface-card"
/>
